---
import Gallery from "./ui/Gallery.astro";
---

<section class="min-h-screen py-8 md:py-16" id="portfolio">
    <div class="px-4 md:px-16 pb-8 md:pb-16">
        <h2 class="text-[48px] md:text-[100px] font-bold tracking-tighter">
            PORTFOLIO
        </h2>
    </div>
    <Gallery />
</section>
